	body{
		padding : 0;
	margin : 0;
	}
@-webkit-keyframes jalankanawan{
	0% { margin-left: 1280px;}
	100%{margin-left: -1280px;}
}
@-moz-keyframes jalankanawan{
	0% { margin-left: 1280px;}
	100%{margin-left: -1280px;}
}
@-o-keyframes jalankanawan{
	0% { margin-left: 1280px;}
	100%{margin-left: -1280px;}
}

@-moz-keyframes bercahaya{
	0% {
		opacity: .6; 
		box-shadow:3px 3px 35px 35px orange
	}
	100%{
		opacity: .7;
		box-shadow:3px 3px 40px 40px orange
	}
}

.no1{
	-webkit-animation: jalankanawan 10s linear infinite;
	-moz-animation: jalankanawan 10s linear infinite;
	-ms-animation: jalankanawan 10s linear infinite;
	-o-animation: jalankanawan 10s linear infinite;
	animation: jalankanawan 10s linear infinite;
	
}

.no2{
	left: 200px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-o-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;
	-webkit-animation: jalankanawan 25s linear infinite;
	-moz-animation: jalankanawan 25s linear infinite;
	-ms-animation: jalankanawan 25s linear infinite;
	-o-animation: jalankanawan 25s linear infinite;
	animation: jalankanawan 25s linear infinite;
}


.no3{
	left: -250px;
	top: -200px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
	-webkit-animation: jalankanawan 20s linear infinite;
	-moz-animation: jalankanawan 20s linear infinite;
	-ms-animation: jalankanawan 20s linear infinite;
	-o-animation: jalankanawan 20s linear infinite;
	animation: jalankanawan 20s linear infinite;
}

.no4{
	left: 470px;
	top: -250;
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	-o-transform: scale(0.75);
	-ms-transform: scale(0.75);
	transform: scale(0.75);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	opacity: 0.75;
	-webkit-animation: jalankanawan 18s linear infinite;
	-moz-animation: jalankanawan 18s linear infinite;
	-ms-animation: jalankanawan 18s linear infinite;
	-o-animation: jalankanawan 18s linear infinite;
	animation: jalankanawan 18s linear infinite;
}

.no5{
	left: -150px;
	top: -150px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
	-webkit-animation: jalankanawan 20s linear infinite;
	-moz-animation: jalankanawan 20s linear infinite;
	-ms-animation: jalankanawan 20s linear infinite;
	-o-animation: jalankanawan 20s linear infinite;
	animation: jalankanawan 20s linear infinite;
}

.awan{
	width: 200px;
	height: 60px;
	background:white;
	border-radius: 200px;
	position: relative;
	z-index: 1;
}


	.awan:before,
	.awan:after{
		content: ' ';
		position: absolute;
		background: white;
		width: 100px;
		height: 80px;
		position: absolute;
		top: -15px;
		left: 10px;
		border-radius:100px;
		text-transform: rotate(30deg); 
	}

	.awan:after{
		width: 120px;
		height: 120px;
		top: -55px;
		left: auto;
		right: 15px;
	}


#langit{
	background: #00BFFF;
	height:670px;
}
table{
	position:relative;
	left:550px;
	top:-80px;
	z-index:3;
	border:5px solid #f1f1f1;
	font-family:cursive;
	font-weight:bold;
	color:#00A591;
	background:#fffdd0;
}
	
input[type=submit]:hover{
	top: -10px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
  
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}
input[type=submit]:active{
	top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: #d3ffce;
}

input[type=submit]{
 width: 150px;
    height: 37px;
    position: relative;
    background:#c6e2ff;
    border: 2px solid $mainColor;
    border-radius: 50px;
    font-family: 'Open Sans';
    color: $mainColor;
    font-weight: 400;
    font-size: 1.2em;
    cursor: pointer;
    overflow: hidden;
    
    &.active {
        animation: upload 3s ease-in-out forwards;
    }
}
}
.nama{
	background-color:red;
	z-index:2;
}

#output{
font-size:0px;
}